<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zia Mafalda - HOME</title>
</head>
<body align="center">
    <h1>Ciao {{operatore}}!</h1>
        <table border="0" align="center">
            <tr>
                <td align="center" colspan="1">
                    <form action="./nuovo-prelievo.html" method="get">
                    <input type="submit" value="Nuovo Prelievo" name="invio"/>
                    </form>
                </td>
                <td align="center" colspan="1">
                    <form action="./prelievi.html" method="get">
                    <input type="submit" value="Consegna" name="invio"/>
                    </form>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>