<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zia Mafalda - Nuovo prelievo</title>
</head>
<body align="center">
    <h1>Ciao {{operatore}}!</h1>
    <form action="#" method="get">
        <table border="0" align="center">
            <tr>
                <td align="left">
                    Nome: 
                </td>
                <td align="left">
                    <input type="text" value="" name="nome" id="nome"/>
                </td>
            </tr>
            <tr>
                <td align="left">
                    Cognome: 
                </td>
                <td align="left">
                    <input type="text" value="" name="cognome" id="cognome"/>
                </td>
            </tr>
            <tr>
                <td align="left">
                    Telefono: 
                </td>
                <td align="left">
                    <input type="text" value="" name="telefono" id="telefono"/>
                </td>
            </tr>
            <tr>
                <td align="left">
                    Orario prelievo: 
                </td>
                <td align="left">
                    <input type="text" value="" name="orarioPrelievo" id="telefono"/>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Invia" name="invio" id="invio"/>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2" id="messaggio">
                    {{#risultato-operazione-precedente}}
                        <font color='green'>Operazione andata a buon fine</font>
                    {{/risultato-operazione-precedente}}
                </td>
            </tr>
        </table>
    </form>
</body>
    <script>
        
        if(false)
        {
              document.getElementById("messaggio").innerHTML="<font color='green'>Operazione andata a buon fine</font>";  
        }
        
        
        var n=document.getElementById("nome").value;
        document.getElementById("cognome").setAttribute('value',n);
    </script>
</html>